<div class="row">
    <div class="col-12">
        <label style="color:Highlight; font-weight:bold">@Title</label>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr style="border-style:solid; border-width: 2px; color:Highlight; border-color:Highlight; background-color:Highlight" />
    </div>
</div>

@code {
    [Parameter] public string Title { get; set; }
}